
@{
    ViewData["Title"] = "Index";
}

<h2>Start</h2>

<div id="container">
    You are now on the public start page in MVCApp1. If you are not already logged in,
    you can login with your latest user credentials to be able to update your user details.
</div>


